/* FIX hide ribbon icon, since irritating for new users, and vaults
* does not remember the setting when hiding it. */
.side-dock-ribbon-action[aria-label="Create loom"],
.side-dock-ribbon-action[aria-label="BRAT"] {
	display: none;
}

/* FIX bug where the save button is not properly clickable */
body .dynamic-highlights-settings .query-wrapper input {
	width: 100%;
}

/* Confusing for new users what these mean */
.another-quick-switcher__item__hot-key-guide {
	display: none;
}
